html, body {
    color: #f9faf8;
    margin: 0;
    padding: 0;   
  }

*{
    /* border: 2px solid green; */
}

img{
    height: 100%;
    width: 100%;
    border-radius: 10px;

}

h1{
    font-size: 5rem;
    font-weight: 800;
    line-height: 50px;
    padding: 10px;
    color: #1F2937;
}

h2{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
}

a{
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    color: #1F2937;
    font-size: medium;
    font-weight: 700;
}

ul{
    list-style-type: none;
}

cite { 
    font-style: italic;
  }

.parallax {
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.content{
    justify-content: center;
}

.header, .header_links, .info_section, .testimonial, .footer, .hero_section{
    display:flex;
}

.footer{
    background-color: #1F2937;
}


.header{
    width: 100vw;
    justify-content: space-between;
    padding: 0px 20px;
    opacity: .9;
    font-weight: bold;
    color:  #1F2937;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.096), 0 1px 1px 0 rgba(0, 0, 0, 0.068);
    margin-left: -10%;
    margin-right: -10%;
    
}


.hero_section{
    background-image: url("../images/background_1.svg");
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0px 100px;
    width: 100%;
    align-items: center;
    line-height: 15px;
    gap: 20px;    
}

.hero_text_container{
    font-size: 2em;
    color: #e5e7eb;
    width: 50%;
    flex: auto; 
    font-weight: bold;
    color: #1F2937;
    line-height: 30px;
}


.header_logo{
    padding: 20px;
}



.hero_button{
    background-color: #1F2937;;
    border: 0;
    border-radius: 5px;
    padding:5px 15px;
    color: #f9faf8;
    font-weight: 700;
}

.image_placeholder {
    flex:auto;
    flex-shrink: 0;
    width: 250px;
    height: auto;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.hero_image{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 4px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



.info_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    color: #1f2937;
    background-image: url("../images/background_2.svg");  
    font-weight: bold;
}

.box_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    text-align: center;
}

.image_boxes{
    box-sizing: border-box;
    width: 15rem;
    height: auto;
    max-height: 300px;
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 10px;
}

.testimonial{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 1.5em;
    font-style: light italic ;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-weight: bold;
    background-image: url("../images/background_3.svg");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.fghj{
max-width: 600px;
text-align: center;


}

.footer{
    padding: 20px;
    justify-content: center;
    font-weight: bold;
}
.call_to_action{
    height: 400px;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/background_4.svg");

}
.call_container{
    background-color: #1F2937;
   line-height: 0;
    display: flex;
    flex-wrap: wrap;
    flex-shrink:1;
    flex-grow: 0;
    align-items:flex-end ;
    padding: 20px;
    justify-content: space-around;
    width: 550px;
    border-radius: 10px;

}

.call2btn {
    background-color: #1F2937;
    color: #e6eaf0;
    border: 1px solid white;
    border-radius: 5px;
    padding:5px 15px;
    font-weight: 700;
}

